<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="true"
    stopOnFailure="true"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Okeonline Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="CACHE_DRIVER" value="array" />
        <!-- APP_KEY required for Passport client -->
        <env name="APP_KEY" value="base64:W99w+5JYz8SMGf5sx17gmPR6uoNCtWiEVc+9ou8iGEg=" />
        <ini name="memory_limit" value="512M" />
    </php>
    <logging>
        <junit outputFile="build/report.junit.xml" />
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>